.important {
  background-color: skyblue;
  width: 70%;
  color: rgb(204, 221, 52);
  
}

p.cupcake.important {
  width: 50%;
  font: italic;
  background-color: Salmon;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
  background-color: lightgrey;
}

