.catcheye {
  color: red;
  font-weight: 900;
  font-size: large;
  background-color: blue;
  
}

div.leftcolumn{
  float: left;
}

div.rightcolumn{
  float: right;
  
}

div.centercolumn{
  border: 5px solid darkblue;
  padding: 5px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  background-color: salmon;
  
}

h3 {
  font-weight: 900;

}
